apptools==5.1.0
configobj==5.0.6
dataclasses==0.6
envisage==6.0.0
importlib-metadata==4.5.0
importlib-resources==5.1.4
networkx==2.5.1
pyface==7.3.0
pygments==2.9.0
pykeops==1.5
pymanopt==0.2.5
pyqt5==5.15.4
pyqt5-qt5==5.15.2
pyqt5-sip==12.9.0
tqdm==4.61.1
traits==6.2.0
traitsui==7.2.1
trimesh==3.9.20
vtk==9.0.1
zipp==3.4.1
matplotlib
jedi
smplx
polyscope
scikit-learn
open3d